@import "tailwindcss";
@plugin "@tailwindcss/typography";


html {
  scroll-behavior: smooth;
}

body {
  color: #222;
  background: #ffffff;
}

.menu-link {
  position: relative;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

.menu-link:hover::after {
  width: 100%;
}


.input {
  @apply w-full bg-gray-100 border rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
}
